<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static\css\home.css">
</head>
<body>
    <a href="/signup_enduser">signup_enduser </a>
    <a href="/signup_artist"> signup_artist</a>
    
    
    <h1>Welcome to music app</h1>

    <p>Login in or sign up as an artist or end user.</p>
    
    <form  action='/'  method='POST'>
        
        <input type="email"  name="email"  placeholder="Enter email">
        <input type="password"  name="password"  placeholder="Enter password">
        <input type="submit">
    </form>
    <a href="https://github.com/kshanaya/mad1project_Tirushi">demo link</a>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwyXeKDN29AmZgZPLS7n0Bepe8QmVappBwZCeA3XWEbWNdiDFB">
    <img src="static\images\fantasy 2.jpg">
    

</body>
</html>




