<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static\css\home.css">
</head>
<body>
    <h1>hello world</h1>
    <p>i am going to wonderland</p>
    <form>
        <input type="text" placeholder="Enter text">
        <input type="text" placeholder="Enter email">
        <input type="text" placeholder="Enter password">
        <input type="submit">
    </form>
    <a href="https://github.com/kshanaya/mad1project_Tirushi">demo link</a>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwyXeKDN29AmZgZPLS7n0Bepe8QmVappBwZCeA3XWEbWNdiDFB">
    <img src="static\images\fantasy 2.jpg">

</body>
</html>




